node_modules
node_modules/
build
.idea
environment.tf
terraform-backend.tfconf
.terraform
config.auto.tfvars


yarn-error.log
npm-error.log
nbproject
.history

db
.DS_Store
*.vs/
npm-debug.log
*.vs/*
.vscode/
package-lock.json
